#-------------------------------------------------------------------------------
# General Ignore Rules
#-------------------------------------------------------------------------------
**/documentation/
**.o
**.exe
**.zip
**.class
**.jar
!**gradle-wrapper.jar
**.pyc
**/docs
**leak.out*
**.bak
**bin
**.vscode

#-------------------------------------------------------------------------------
# Binary Specific Ignore Rules
#-------------------------------------------------------------------------------
**/*Demo
**/*demo
**/ll2
**iteratorDemo
**keyboard_input
**pointerReview
**registration
**runShapes
**storage
**testPlayer
**updateRoom

#-------------------------------------------------------------------------------
# Assignment Ignore Rules
#-------------------------------------------------------------------------------
**Assignment-0*

#-------------------------------------------------------------------------------
# Eclipse Project Ignore Rules
#-------------------------------------------------------------------------------
**.project
**.settings
**.classpath

#-------------------------------------------------------------------------------
# Vim Rules
#-------------------------------------------------------------------------------
**.swp

#-------------------------------------------------------------------------------
# Latex Ignore Rules
#-------------------------------------------------------------------------------
**.aux

#-------------------------------------------------------------------------------
# Scratch (temp) File & Directory Ignore rules
#-------------------------------------------------------------------------------
Scratch

#-------------------------------------------------------------------------------
# Python Coverage (coverage.py) Rules
#-------------------------------------------------------------------------------
**/.coverage
**/htmlcov

#-------------------------------------------------------------------------------
# Python pytest
#-------------------------------------------------------------------------------
**/.pytest_cache

#-------------------------------------------------------------------------------
# Python Disttools
#-------------------------------------------------------------------------------
MANIFEST

#-------------------------------------------------------------------------------
# Python Tox
#-------------------------------------------------------------------------------
**.tox
**.egg-info

#-------------------------------------------------------------------------------
# Python uv
#-------------------------------------------------------------------------------
**uv.lock

#-------------------------------------------------------------------------------
# Style Check reports
#-------------------------------------------------------------------------------
**style-check*

#-------------------------------------------------------------------------------
# Rust
#-------------------------------------------------------------------------------
**/target
**Cargo.lock
**tarpaulin-report.html

#-------------------------------------------------------------------------------
# Gradle Ignore Rules
#-------------------------------------------------------------------------------
**/build/
**/.gradle/

#-------------------------------------------------------------------------------
# output comparison
#-------------------------------------------------------------------------------
**/out-Rust.txt
**/out-rust.txt
**/out-cpp.txt
**/ex*.txt

#-------------------------------------------------------------------------------
# Gcovr Rules
#-------------------------------------------------------------------------------
**/source/*.html
**.gcda
**.gcno

#-------------------------------------------------------------------------------
# Generated Library Rules
#-------------------------------------------------------------------------------
**.so


#-------------------------------------------------------------------------------
# UML Rules
#-------------------------------------------------------------------------------
**/UML/*.html

#-------------------------------------------------------------------------------
# uv Rules
#-------------------------------------------------------------------------------
uv.lock

