div.graph {
    width:400px; 
    height:300px;
    padding: 10px;
    display: inline;
    margin: auto;
}

div.reportLinks {
    left-margin: 5ex
}

div.reportGraphs {
    background-color: #D0D0D0;
    left-margin: 5ex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

